<nav class="navbar navbar-expand-sm navbar-dark bg-dark">
      <div class="container-fluid">
        <a class="navbar-brand" href="#">{{ title }}</a>
        <!-- Toggler/collapsibe Button -->
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#collapsibleNavbar">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="collapsibleNavbar">
            <ul class="navbar-nav mr-aut">
                <li class="nav-item"><a class="nav-link" href="/">Main</a></li>
                <li class="nav-item"><a class="nav-link" href="/page2">Tweede pagina</a></li>
            </ul>
        </div>
      </div>
</nav>